.atelier-escha-accessory::before {
	content: '\ea01';
}
.atelier-escha-armor::before {
	content: '\ea02';
}
.atelier-escha-bomb::before {
	content: '\ea03';
}
.atelier-escha-buff::before {
	content: '\ea04';
}
.atelier-escha-category-liquid::before {
	content: '\ea05';
}
.atelier-escha-heal::before {
	content: '\ea06';
}
.atelier-escha-weapon::before {
	content: '\ea07';
}
.atelier-meruru-category-construction::before {
	content: '\ea08';
}
.atelier-meruru-category-development::before {
	content: '\ea09';
}
.atelier-meruru-category-farming::before {
	content: '\ea0a';
}
.atelier-meruru-category-housing::before {
	content: '\ea0b';
}
.atelier-meruru-category-mushroom::before {
	content: '\ea0c';
}
.atelier-meruru-category-security::before {
	content: '\ea0d';
}
.atelier-meruru-category-tourism::before {
	content: '\ea0e';
}
.atelier-ryza2-book::before {
	content: '\ea0f';
}
.atelier-ryza2-boss-enemy::before {
	content: '\ea10';
}
.atelier-ryza2-category-accessories::before {
	content: '\ea11';
}
.atelier-ryza2-category-animal-products::before {
	content: '\ea12';
}
.atelier-ryza2-category-armor::before {
	content: '\ea13';
}
.atelier-ryza2-category-beehives::before {
	content: '\ea14';
}
.atelier-ryza2-category-bombs::before {
	content: '\ea15';
}
.atelier-ryza2-category-bugs::before {
	content: '\ea16';
}
.atelier-ryza2-category-cloth::before {
	content: '\ea17';
}
.atelier-ryza2-category-dragon-mat::before {
	content: '\ea18';
}
.atelier-ryza2-category-edibles::before {
	content: '\ea19';
}
.atelier-ryza2-category-elixirs::before {
	content: '\ea1a';
}
.atelier-ryza2-category-essence::before {
	content: '\ea1b';
}
.atelier-ryza2-category-flowers::before {
	content: '\ea1c';
}
.atelier-ryza2-category-food::before {
	content: '\ea1d';
}
.atelier-ryza2-category-fruit::before {
	content: '\ea1e';
}
.atelier-ryza2-category-fuel::before {
	content: '\ea1f';
}
.atelier-ryza2-category-furniture::before {
	content: '\ea20';
}
.atelier-ryza2-category-gases::before {
	content: '\ea21';
}
.atelier-ryza2-category-gemstones::before {
	content: '\ea22';
}
.atelier-ryza2-category-general-goods::before {
	content: '\ea23';
}
.atelier-ryza2-category-gunpowder::before {
	content: '\ea24';
}
.atelier-ryza2-category-ingots::before {
	content: '\ea25';
}
.atelier-ryza2-category-jewels::before {
	content: '\ea26';
}
.atelier-ryza2-category-key-items::before {
	content: '\ea27';
}
.atelier-ryza2-category-lumber::before {
	content: '\ea28';
}
.atelier-ryza2-category-magic-tools::before {
	content: '\ea29';
}
.atelier-ryza2-category-magical::before {
	content: '\ea2a';
}
.atelier-ryza2-category-medicinal::before {
	content: '\ea2b';
}
.atelier-ryza2-category-medicine::before {
	content: '\ea2c';
}
.atelier-ryza2-category-metal::before {
	content: '\ea2d';
}
.atelier-ryza2-category-mushrooms::before {
	content: '\ea2e';
}
.atelier-ryza2-category-neutralizers::before {
	content: '\ea2f';
}
.atelier-ryza2-category-ore::before {
	content: '\ea30';
}
.atelier-ryza2-category-plants::before {
	content: '\ea31';
}
.atelier-ryza2-category-poisons::before {
	content: '\ea32';
}
.atelier-ryza2-category-puniballs::before {
	content: '\ea33';
}
.atelier-ryza2-category-sand::before {
	content: '\ea34';
}
.atelier-ryza2-category-seafood::before {
	content: '\ea35';
}
.atelier-ryza2-category-seeds::before {
	content: '\ea36';
}
.atelier-ryza2-category-spices::before {
	content: '\ea37';
}
.atelier-ryza2-category-stone::before {
	content: '\ea38';
}
.atelier-ryza2-category-threads::before {
	content: '\ea39';
}
.atelier-ryza2-category-tools::before {
	content: '\ea3a';
}
.atelier-ryza2-category-uni::before {
	content: '\ea3b';
}
.atelier-ryza2-category-water::before {
	content: '\ea3c';
}
.atelier-ryza2-category-weapons::before {
	content: '\ea3d';
}
.atelier-ryza2-equipment::before {
	content: '\ea3e';
}
.atelier-ryza2-fire::before {
	content: '\ea3f';
}
.atelier-ryza2-forge::before {
	content: '\ea40';
}
.atelier-ryza2-ice::before {
	content: '\ea41';
}
.atelier-ryza2-large-enemy::before {
	content: '\ea42';
}
.atelier-ryza2-lightning::before {
	content: '\ea43';
}
.atelier-ryza2-magic::before {
	content: '\ea44';
}
.atelier-ryza2-material::before {
	content: '\ea45';
}
.atelier-ryza2-medium-enemy::before {
	content: '\ea46';
}
.atelier-ryza2-physical::before {
	content: '\ea47';
}
.atelier-ryza2-race-ancient-philuscha::before {
	content: '\ea48';
}
.atelier-ryza2-race-beetle::before {
	content: '\ea49';
}
.atelier-ryza2-race-demon-beast::before {
	content: '\ea4a';
}
.atelier-ryza2-race-golem::before {
	content: '\ea4b';
}
.atelier-ryza2-race-guardian::before {
	content: '\ea4c';
}
.atelier-ryza2-race-hedgehog::before {
	content: '\ea4d';
}
.atelier-ryza2-race-knight::before {
	content: '\ea4e';
}
.atelier-ryza2-race-puni::before {
	content: '\ea4f';
}
.atelier-ryza2-race-roadrunner::before {
	content: '\ea50';
}
.atelier-ryza2-race-scorpion::before {
	content: '\ea51';
}
.atelier-ryza2-race-shark::before {
	content: '\ea52';
}
.atelier-ryza2-race-sheep::before {
	content: '\ea53';
}
.atelier-ryza2-race-spirit::before {
	content: '\ea54';
}
.atelier-ryza2-race-weasel-king::before {
	content: '\ea55';
}
.atelier-ryza2-race-weasel::before {
	content: '\ea56';
}
.atelier-ryza2-race-wyrm::before {
	content: '\ea57';
}
.atelier-ryza2-shop::before {
	content: '\ea58';
}
.atelier-ryza2-small-enemy::before {
	content: '\ea59';
}
.atelier-ryza2-tool-axe::before {
	content: '\ea5a';
}
.atelier-ryza2-tool-bomb-rod::before {
	content: '\ea5b';
}
.atelier-ryza2-tool-bug-net::before {
	content: '\ea5c';
}
.atelier-ryza2-tool-fishing-rod::before {
	content: '\ea5d';
}
.atelier-ryza2-tool-gather::before {
	content: '\ea5e';
}
.atelier-ryza2-tool-hammer::before {
	content: '\ea5f';
}
.atelier-ryza2-tool-sickle::before {
	content: '\ea60';
}
.atelier-ryza2-tool-staff::before {
	content: '\ea61';
}
.atelier-ryza2-tool-water::before {
	content: '\ea62';
}
.atelier-ryza2-type-accessory::before {
	content: '\ea63';
}
.atelier-ryza2-type-armor::before {
	content: '\ea64';
}
.atelier-ryza2-type-attack::before {
	content: '\ea65';
}
.atelier-ryza2-type-buff::before {
	content: '\ea66';
}
.atelier-ryza2-type-debuff::before {
	content: '\ea67';
}
.atelier-ryza2-type-heal::before {
	content: '\ea68';
}
.atelier-ryza2-type-synthesis::before {
	content: '\ea69';
}
.atelier-ryza2-type-weapon::before {
	content: '\ea6a';
}
.atelier-ryza2-wind::before {
	content: '\ea6b';
}
.atelier-shallie-category-a-light-armor::before {
	content: '\ea6c';
}
.atelier-shallie-category-accessory::before {
	content: '\ea6d';
}
.atelier-shallie-category-adventure::before {
	content: '\ea6e';
}
.atelier-shallie-category-ancient-power::before {
	content: '\ea6f';
}
.atelier-shallie-category-ancient-relic::before {
	content: '\ea70';
}
.atelier-shallie-category-animal::before {
	content: '\ea71';
}
.atelier-shallie-category-antique::before {
	content: '\ea72';
}
.atelier-shallie-category-apple::before {
	content: '\ea73';
}
.atelier-shallie-category-aroma::before {
	content: '\ea74';
}
.atelier-shallie-category-bee-hive::before {
	content: '\ea75';
}
.atelier-shallie-category-bomb::before {
	content: '\ea76';
}
.atelier-shallie-category-book::before {
	content: '\ea77';
}
.atelier-shallie-category-clay::before {
	content: '\ea78';
}
.atelier-shallie-category-cloth::before {
	content: '\ea79';
}
.atelier-shallie-category-dragon-material::before {
	content: '\ea7a';
}
.atelier-shallie-category-elixir::before {
	content: '\ea7b';
}
.atelier-shallie-category-feather::before {
	content: '\ea7c';
}
.atelier-shallie-category-fish::before {
	content: '\ea7d';
}
.atelier-shallie-category-food::before {
	content: '\ea7e';
}
.atelier-shallie-category-fruit::before {
	content: '\ea7f';
}
.atelier-shallie-category-fuel::before {
	content: '\ea80';
}
.atelier-shallie-category-gas::before {
	content: '\ea81';
}
.atelier-shallie-category-grain::before {
	content: '\ea82';
}
.atelier-shallie-category-gunpowder::before {
	content: '\ea83';
}
.atelier-shallie-category-ingot::before {
	content: '\ea84';
}
.atelier-shallie-category-jewel::before {
	content: '\ea85';
}
.atelier-shallie-category-key-item::before {
	content: '\ea86';
}
.atelier-shallie-category-liquid::before {
	content: '\ea87';
}
.atelier-shallie-category-lumber::before {
	content: '\ea88';
}
.atelier-shallie-category-magic-herb::before {
	content: '\ea89';
}
.atelier-shallie-category-magic-tool::before {
	content: '\ea8a';
}
.atelier-shallie-category-meat::before {
	content: '\ea8b';
}
.atelier-shallie-category-medicine::before {
	content: '\ea8c';
}
.atelier-shallie-category-metal::before {
	content: '\ea8d';
}
.atelier-shallie-category-mystery::before {
	content: '\ea8e';
}
.atelier-shallie-category-natural::before {
	content: '\ea8f';
}
.atelier-shallie-category-ore::before {
	content: '\ea90';
}
.atelier-shallie-category-paper::before {
	content: '\ea91';
}
.atelier-shallie-category-pelt::before {
	content: '\ea93';
}
.atelier-shallie-category-plant::before {
	content: '\ea95';
}
.atelier-shallie-category-poison::before {
	content: '\ea92';
}
.atelier-shallie-category-sand::before {
	content: '\ea94';
}
.atelier-shallie-category-seasoning::before {
	content: '\ea96';
}
.atelier-shallie-category-slag-part::before {
	content: '\ea97';
}
.atelier-shallie-category-snack::before {
	content: '\ea99';
}
.atelier-shallie-category-sundry::before {
	content: '\ea98';
}
.atelier-shallie-category-thread::before {
	content: '\ea9a';
}
.atelier-shallie-category-vegetable::before {
	content: '\ea9b';
}
.atelier-shallie-category-w-bell::before {
	content: '\ea9c';
}
.atelier-shallie-category-wood::before {
	content: '\ea9d';
}
.atelier-shallie-earth::before {
	content: '\ea9e';
}
.atelier-shallie-fire::before {
	content: '\ea9f';
}
.atelier-shallie-race-alchemic::before {
	content: '\eaa0';
}
.atelier-shallie-race-animal::before {
	content: '\eaa1';
}
.atelier-shallie-race-beast::before {
	content: '\eaa2';
}
.atelier-shallie-race-dragon::before {
	content: '\eaa3';
}
.atelier-shallie-race-elemental::before {
	content: '\eaa4';
}
.atelier-shallie-race-humanoid::before {
	content: '\eaa5';
}
.atelier-shallie-race-rare-slag::before {
	content: '\eaa6';
}
.atelier-shallie-race-slag::before {
	content: '\eaa7';
}
.atelier-shallie-water::before {
	content: '\eaa8';
}
.atelier-shallie-wind::before {
	content: '\eaa9';
}
.atelier-sophie2-category-catalysts::before {
	content: '\eaaa';
}
.atelier-sophie2-category-seafood::before {
	content: '\eaab';
}
.atelier-sophie2-category-spices::before {
	content: '\eaac';
}
.atelier-sophie2-category-talismans::before {
	content: '\eaad';
}
.atelier-sophie2-element-fire::before {
	content: '\eaae';
}
.atelier-sophie2-element-ice::before {
	content: '\eaaf';
}
.atelier-sophie2-element-light::before {
	content: '\eab0';
}
.atelier-sophie2-element-lightning::before {
	content: '\eab1';
}
.atelier-sophie2-element-magic::before {
	content: '\eab2';
}
.atelier-sophie2-element-wind::before {
	content: '\eab3';
}
.atelier-sophie2-race-apostle::before {
	content: '\eab4';
}
.atelier-sophie2-race-apparition::before {
	content: '\eab5';
}
.atelier-sophie2-race-bat::before {
	content: '\eab6';
}
.atelier-sophie2-race-beast::before {
	content: '\eab7';
}
.atelier-sophie2-race-bird::before {
	content: '\eab8';
}
.atelier-sophie2-race-dragon::before {
	content: '\eab9';
}
.atelier-sophie2-race-dragonaire::before {
	content: '\eaba';
}
.atelier-sophie2-race-dream-eater::before {
	content: '\eabb';
}
.atelier-sophie2-race-dryad::before {
	content: '\eabc';
}
.atelier-sophie2-race-elvira::before {
	content: '\eabd';
}
.atelier-sophie2-race-erde-wiege::before {
	content: '\eabe';
}
.atelier-sophie2-race-ghost::before {
	content: '\eabf';
}
.atelier-sophie2-race-golem::before {
	content: '\eac0';
}
.atelier-sophie2-race-jellyfish::before {
	content: '\eac1';
}
.atelier-sophie2-race-magical-creature::before {
	content: '\eac2';
}
.atelier-sophie2-race-medium-groll::before {
	content: '\eac3';
}
.atelier-sophie2-race-mushroom::before {
	content: '\eac4';
}
.atelier-sophie2-race-plant::before {
	content: '\eac5';
}
.atelier-sophie2-race-puni::before {
	content: '\eac6';
}
.atelier-sophie2-race-rabbit::before {
	content: '\eac7';
}
.atelier-sophie2-race-sea-serpent::before {
	content: '\eac8';
}
.atelier-sophie2-race-small-groll::before {
	content: '\eac9';
}
.atelier-sophie2-tool-hammer::before {
	content: '\eaca';
}
.atelier-sophie2-tool-pickaxe::before {
	content: '\eacb';
}
.atelier-sophie2-tool-slingshot::before {
	content: '\eacc';
}
.atelier-sophie2-type-exploration::before {
	content: '\eacd';
}
.atelier-sophie2-usable::before {
	content: '\eace';
}
.atelier-totori-category-accessory::before {
	content: '\eacf';
}
.atelier-totori-category-bomb::before {
	content: '\ead0';
}
.atelier-totori-category-bug::before {
	content: '\ead1';
}
.atelier-totori-category-cloth::before {
	content: '\ead2';
}
.atelier-totori-category-cooking::before {
	content: '\ead3';
}
.atelier-totori-category-dessert::before {
	content: '\ead4';
}
.atelier-totori-category-elixir::before {
	content: '\ead5';
}
.atelier-totori-category-fish::before {
	content: '\ead6';
}
.atelier-totori-category-fuel::before {
	content: '\ead7';
}
.atelier-totori-category-gunpowder::before {
	content: '\ead8';
}
.atelier-totori-category-healing::before {
	content: '\ead9';
}
.atelier-totori-category-ingot::before {
	content: '\eada';
}
.atelier-totori-category-jewel::before {
	content: '\eadb';
}
.atelier-totori-category-key-item::before {
	content: '\eae3';
}
.atelier-totori-category-liquid::before {
	content: '\eadc';
}
.atelier-totori-category-lumber::before {
	content: '\eadd';
}
.atelier-totori-category-magic-tool::before {
	content: '\eade';
}
.atelier-totori-category-meat::before {
	content: '\eae4';
}
.atelier-totori-category-medicine::before {
	content: '\eadf';
}
.atelier-totori-category-mystery::before {
	content: '\eae0';
}
.atelier-totori-category-ore::before {
	content: '\eae1';
}
.atelier-totori-category-pie::before {
	content: '\eae2';
}
.atelier-totori-category-plant::before {
	content: '\eae5';
}
.atelier-totori-category-poison::before {
	content: '\eae6';
}
.atelier-totori-category-seasoning::before {
	content: '\eae7';
}
.atelier-totori-category-spice::before {
	content: '\eae8';
}
.atelier-totori-category-sundry::before {
	content: '\eae9';
}
.atelier-totori-category-supplement::before {
	content: '\eaea';
}
.atelier-totori-category-threads::before {
	content: '\eaeb';
}
.atelier-totori-category-vegetable::before {
	content: '\eaec';
}
