@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Atelier';
	font-style: normal;
	src: local(''), url('/fonts/Atelier.woff2') format('woff2');
}

@layer components {
	.scroll-wrapper > div {
		display: block !important;
		height: 100vh;
	}
	.atelier-ryza2-book::before {
		content: '\ea0f';
	}
	.atelier-ryza2-boss-enemy::before {
		content: '\ea10';
	}
	.atelier-ryza2-category-accessories::before {
		content: '\ea11';
	}
	.atelier-ryza2-category-animal-products::before {
		content: '\ea12';
	}
	.atelier-ryza2-category-armor::before {
		content: '\ea13';
	}
	.atelier-ryza2-category-beehives::before {
		content: '\ea14';
	}
	.atelier-ryza2-category-bombs::before {
		content: '\ea15';
	}
	.atelier-ryza2-category-bugs::before {
		content: '\ea16';
	}
	.atelier-ryza2-category-cloth::before {
		content: '\ea17';
	}
	.atelier-ryza2-category-dragon-mat::before {
		content: '\ea18';
	}
	.atelier-ryza2-category-edibles::before {
		content: '\ea19';
	}
	.atelier-ryza2-category-elixirs::before {
		content: '\ea1a';
	}
	.atelier-ryza2-category-essence::before {
		content: '\ea1b';
	}
	.atelier-ryza2-category-flowers::before {
		content: '\ea1c';
	}
	.atelier-ryza2-category-food::before {
		content: '\ea1d';
	}
	.atelier-ryza2-category-fruit::before {
		content: '\ea1e';
	}
	.atelier-ryza2-category-fuel::before {
		content: '\ea1f';
	}
	.atelier-ryza2-category-furniture::before {
		content: '\ea20';
	}
	.atelier-ryza2-category-gases::before {
		content: '\ea21';
	}
	.atelier-ryza2-category-gemstones::before {
		content: '\ea22';
	}
	.atelier-ryza2-category-general-goods::before {
		content: '\ea23';
	}
	.atelier-ryza2-category-gunpowder::before {
		content: '\ea24';
	}
	.atelier-ryza2-category-ingots::before {
		content: '\ea25';
	}
	.atelier-ryza2-category-jewels::before {
		content: '\ea26';
	}
	.atelier-ryza2-category-key-items::before {
		content: '\ea27';
	}
	.atelier-ryza2-category-lumber::before {
		content: '\ea28';
	}
	.atelier-ryza2-category-magic-tools::before {
		content: '\ea29';
	}
	.atelier-ryza2-category-magical::before {
		content: '\ea2a';
	}
	.atelier-ryza2-category-medicinal::before {
		content: '\ea2b';
	}
	.atelier-ryza2-category-medicine::before {
		content: '\ea2c';
	}
	.atelier-ryza2-category-metal::before {
		content: '\ea2d';
	}
	.atelier-ryza2-category-mushrooms::before {
		content: '\ea2e';
	}
	.atelier-ryza2-category-neutralizers::before {
		content: '\ea2f';
	}
	.atelier-ryza2-category-ore::before {
		content: '\ea30';
	}
	.atelier-ryza2-category-plants::before {
		content: '\ea31';
	}
	.atelier-ryza2-category-poisons::before {
		content: '\ea32';
	}
	.atelier-ryza2-category-puniballs::before {
		content: '\ea33';
	}
	.atelier-ryza2-category-sand::before {
		content: '\ea34';
	}
	.atelier-ryza2-category-seafood::before {
		content: '\ea35';
	}
	.atelier-ryza2-category-seeds::before {
		content: '\ea36';
	}
	.atelier-ryza2-category-spices::before {
		content: '\ea37';
	}
	.atelier-ryza2-category-stone::before {
		content: '\ea38';
	}
	.atelier-ryza2-category-threads::before {
		content: '\ea39';
	}
	.atelier-ryza2-category-tools::before {
		content: '\ea3a';
	}
	.atelier-ryza2-category-uni::before {
		content: '\ea3b';
	}
	.atelier-ryza2-category-water::before {
		content: '\ea3c';
	}
	.atelier-ryza2-category-weapons::before {
		content: '\ea3d';
	}
	.atelier-ryza2-equipment::before {
		content: '\ea3e';
	}
	.atelier-ryza2-fire::before {
		content: '\ea3f';
	}
	.atelier-ryza2-forge::before {
		content: '\ea40';
	}
	.atelier-ryza2-ice::before {
		content: '\ea41';
	}
	.atelier-ryza2-large-enemy::before {
		content: '\ea42';
	}
	.atelier-ryza2-lightning::before {
		content: '\ea43';
	}
	.atelier-ryza2-magic::before {
		content: '\ea44';
	}
	.atelier-ryza2-material::before {
		content: '\ea45';
	}
	.atelier-ryza2-medium-enemy::before {
		content: '\ea46';
	}
	.atelier-ryza2-physical::before {
		content: '\ea47';
	}
	.atelier-ryza2-race-ancient-philuscha::before {
		content: '\ea48';
	}
	.atelier-ryza2-race-beetle::before {
		content: '\ea49';
	}
	.atelier-ryza2-race-demon-beast::before {
		content: '\ea4a';
	}
	.atelier-ryza2-race-golem::before {
		content: '\ea4b';
	}
	.atelier-ryza2-race-guardian::before {
		content: '\ea4c';
	}
	.atelier-ryza2-race-hedgehog::before {
		content: '\ea4d';
	}
	.atelier-ryza2-race-knight::before {
		content: '\ea4e';
	}
	.atelier-ryza2-race-puni::before {
		content: '\ea4f';
	}
	.atelier-ryza2-race-roadrunner::before {
		content: '\ea50';
	}
	.atelier-ryza2-race-scorpion::before {
		content: '\ea51';
	}
	.atelier-ryza2-race-shark::before {
		content: '\ea52';
	}
	.atelier-ryza2-race-sheep::before {
		content: '\ea53';
	}
	.atelier-ryza2-race-spirit::before {
		content: '\ea54';
	}
	.atelier-ryza2-race-weasel-king::before {
		content: '\ea55';
	}
	.atelier-ryza2-race-weasel::before {
		content: '\ea56';
	}
	.atelier-ryza2-race-wyrm::before {
		content: '\ea57';
	}
	.atelier-ryza2-shop::before {
		content: '\ea58';
	}
	.atelier-ryza2-small-enemy::before {
		content: '\ea59';
	}
	.atelier-ryza2-tool-axe::before {
		content: '\ea5a';
	}
	.atelier-ryza2-tool-bomb-rod::before {
		content: '\ea5b';
	}
	.atelier-ryza2-tool-bug-net::before {
		content: '\ea5c';
	}
	.atelier-ryza2-tool-fishing-rod::before {
		content: '\ea5d';
	}
	.atelier-ryza2-tool-gather::before {
		content: '\ea5e';
	}
	.atelier-ryza2-tool-hammer::before {
		content: '\ea5f';
	}
	.atelier-ryza2-tool-sickle::before {
		content: '\ea60';
	}
	.atelier-ryza2-tool-staff::before {
		content: '\ea61';
	}
	.atelier-ryza2-tool-water::before {
		content: '\ea62';
	}
	.atelier-ryza2-type-accessory::before {
		content: '\ea63';
	}
	.atelier-ryza2-type-armor::before {
		content: '\ea64';
	}
	.atelier-ryza2-type-attack::before {
		content: '\ea65';
	}
	.atelier-ryza2-type-buff::before {
		content: '\ea66';
	}
	.atelier-ryza2-type-debuff::before {
		content: '\ea67';
	}
	.atelier-ryza2-type-heal::before {
		content: '\ea68';
	}
	.atelier-ryza2-type-synthesis::before {
		content: '\ea69';
	}
	.atelier-ryza2-type-weapon::before {
		content: '\ea6a';
	}
	.atelier-ryza2-wind::before {
		content: '\ea6b';
	}
}

@layer utilities {
	@media (min-width: theme('screens.lg')) {
		.legacy-scroll-area::-webkit-scrollbar {
			width: theme('spacing.1');
			height: theme('spacing.1');
		}

		.legacy-scroll-area::-webkit-scrollbar-track {
			border-radius: theme('borderRadius.3xl');
			transition: theme('transitionProperty.all') 300ms;
			background: transparent;
		}

		.legacy-scroll-area::-webkit-scrollbar-thumb {
			border-radius: theme('borderRadius.2xl');
			transition: theme('transitionProperty.all') 300ms;
			background: theme('backgroundColor.base-content');
			opacity: 0.5;
		}
	}

	.scroll-area-root {
		overflow: hidden;
		--scrollbar-size: 10px;
	}

	.scroll-area-viewport {
		width: 100%;
		height: 100%;
	}

	.scroll-area-scrollbar {
		z-index: theme('zIndex.30');
		display: flex;
		/* ensures no selection */
		user-select: none;
		/* disable browser handling of all panning and zooming gestures on touch devices */
		touch-action: none;
		padding: 2px;
		background: transparent;
	}

	.scroll-area-scrollbar[data-orientation='vertical'] {
		width: theme('spacing.2');
	}

	.scroll-area-scrollbar[data-orientation='horizontal'] {
		flex-direction: column;
		height: theme('spacing.2');
	}

	.scroll-area-thumb {
		flex: 1;
		background: theme('colors.base-content');
		opacity: 0.5;
		border-radius: theme('spacing.1');
		position: relative;
		transition: opacity 160ms ease-out;
	}

	/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
	.scroll-area-thumb::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		min-width: 44px;
		min-height: 44px;
	}

	.scroll-area-scrollbar:hover .scroll-area-thumb {
		opacity: 1;
	}

	.scroll-area-corner {
		background: theme('colors.base-content');
	}

	.text-shadow-dark {
		text-shadow: 0 0 theme('spacing.3') theme('colors.black');
	}

	.text-shadow-light {
		text-shadow: 0 0 theme('spacing.3') theme('colors.white');
	}
}
