@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		@apply overflow-hidden;
	}
}

@layer components {
	.background-lips {
		background-image: url('./images/lips.svg');
		background-repeat: repeat;
	}

	.readme .card-body {
		@apply prose max-w-none;
	}
	.readme .card-body h2 {
		@apply mt-0 mb-1;
	}
	.readme .card-body ul {
		@apply m-0;
	}
	.readme .card-body > div:not(.table-of-contents) ul {
		@apply flex gap-2 list-none flex-row p-0 flex-wrap;
	}
	.readme .card-body > div:not(.table-of-contents) ul li {
		@apply m-0 p-0;
	}
}

@layer utilities {
	@media (min-width: theme('screens.lg')) {
		.legacy-scroll-area::-webkit-scrollbar,
		.highlight-code pre::-webkit-scrollbar {
			@apply w-1 h-1;
		}

		.legacy-scroll-area::-webkit-scrollbar-track,
		.highlight-code pre::-webkit-scrollbar-track {
			@apply rounded-3xl bg-transparent;
		}

		.legacy-scroll-area::-webkit-scrollbar-thumb,
		.highlight-code pre::-webkit-scrollbar-thumb {
			@apply rounded-2xl opacity-50;
		}

		.legacy-scroll-area::-webkit-scrollbar-thumb {
			@apply bg-base-content;
		}

		.highlight-code pre::-webkit-scrollbar-thumb {
			@apply bg-base-100 dark:bg-base-content;
		}
	}

	.scroll-wrapper > div {
		@apply !flex gap-6 flex-col h-[100dvh];
	}

	.scroll-area-root {
		@apply overflow-hidden;
	}

	.scroll-area-viewport {
		@apply h-full w-full;
	}

	.scroll-area-scrollbar {
		@apply bg-transparent p-0.5 select-none touch-none flex z-30 data-[orientation=vertical]:w-2 data-[orientation=horizontal]:h-2 data-[orientation=horizontal]:flex-col;
	}

	.scroll-area-thumb {
		@apply transition-opacity relative rounded opacity-50 bg-base-content flex-[1];
	}

	.scroll-area-thumb::before {
		@apply content-[''] absolute top-1/2 left-1/2 w-full h-full min-w-[3rem] min-h-12 translate-x-1/2;
	}

	.scroll-area-scrollbar:hover .scroll-area-thumb {
		@apply opacity-100;
	}

	.scroll-area-corner {
		@apply bg-base-content;
	}

	.atelier__book::before {
		content: '\ea0f';
	}
	.atelier__boss-enemy::before {
		content: '\ea10';
	}
	.atelier__category-accessories::before {
		content: '\ea11';
	}
	.atelier__category-animal-products::before {
		content: '\ea12';
	}
	.atelier__category-armor::before {
		content: '\ea13';
	}
	.atelier__category-beehives::before {
		content: '\ea14';
	}
	.atelier__category-bombs::before {
		content: '\ea15';
	}
	.atelier__category-bugs::before {
		content: '\ea16';
	}
	.atelier__category-cloth::before {
		content: '\ea17';
	}
	.atelier__category-dragon-mat::before {
		content: '\ea18';
	}
	.atelier__category-edibles::before {
		content: '\ea19';
	}
	.atelier__category-elixirs::before {
		content: '\ea1a';
	}
	.atelier__category-essence::before {
		content: '\ea1b';
	}
	.atelier__category-flowers::before {
		content: '\ea1c';
	}
	.atelier__category-food::before {
		content: '\ea1d';
	}
	.atelier__category-fruit::before {
		content: '\ea1e';
	}
	.atelier__category-fuel::before {
		content: '\ea1f';
	}
	.atelier__category-furniture::before {
		content: '\ea20';
	}
	.atelier__category-gases::before {
		content: '\ea21';
	}
	.atelier__category-gemstones::before {
		content: '\ea22';
	}
	.atelier__category-general-goods::before {
		content: '\ea23';
	}
	.atelier__category-gunpowder::before {
		content: '\ea24';
	}
	.atelier__category-ingots::before {
		content: '\ea25';
	}
	.atelier__category-jewels::before {
		content: '\ea26';
	}
	.atelier__category-key-items::before {
		content: '\ea27';
	}
	.atelier__category-lumber::before {
		content: '\ea28';
	}
	.atelier__category-magic-tools::before {
		content: '\ea29';
	}
	.atelier__category-magical::before {
		content: '\ea2a';
	}
	.atelier__category-medicinal::before {
		content: '\ea2b';
	}
	.atelier__category-medicine::before {
		content: '\ea2c';
	}
	.atelier__category-metal::before {
		content: '\ea2d';
	}
	.atelier__category-mushrooms::before {
		content: '\ea2e';
	}
	.atelier__category-neutralizers::before {
		content: '\ea2f';
	}
	.atelier__category-ore::before {
		content: '\ea30';
	}
	.atelier__category-plants::before {
		content: '\ea31';
	}
	.atelier__category-poisons::before {
		content: '\ea32';
	}
	.atelier__category-puniballs::before {
		content: '\ea33';
	}
	.atelier__category-sand::before {
		content: '\ea34';
	}
	.atelier__category-seafood::before {
		content: '\ea35';
	}
	.atelier__category-seeds::before {
		content: '\ea36';
	}
	.atelier__category-spices::before {
		content: '\ea37';
	}
	.atelier__category-stone::before {
		content: '\ea38';
	}
	.atelier__category-threads::before {
		content: '\ea39';
	}
	.atelier__category-tools::before {
		content: '\ea3a';
	}
	.atelier__category-uni::before {
		content: '\ea3b';
	}
	.atelier__category-water::before {
		content: '\ea3c';
	}
	.atelier__category-weapons::before {
		content: '\ea3d';
	}
	.atelier__equipment::before {
		content: '\ea3e';
	}
	.atelier__fire::before {
		content: '\ea3f';
	}
	.atelier__forge::before {
		content: '\ea40';
	}
	.atelier__ice::before {
		content: '\ea41';
	}
	.atelier__large-enemy::before {
		content: '\ea42';
	}
	.atelier__lightning::before {
		content: '\ea43';
	}
	.atelier__magic::before {
		content: '\ea44';
	}
	.atelier__material::before {
		content: '\ea45';
	}
	.atelier__medium-enemy::before {
		content: '\ea46';
	}
	.atelier__physical::before {
		content: '\ea47';
	}
	.atelier__race-ancient-philuscha::before {
		content: '\ea48';
	}
	.atelier__race-beetle::before {
		content: '\ea49';
	}
	.atelier__race-demon-beast::before {
		content: '\ea4a';
	}
	.atelier__race-golem::before {
		content: '\ea4b';
	}
	.atelier__race-guardian::before {
		content: '\ea4c';
	}
	.atelier__race-hedgehog::before {
		content: '\ea4d';
	}
	.atelier__race-knight::before {
		content: '\ea4e';
	}
	.atelier__race-puni::before {
		content: '\ea4f';
	}
	.atelier__race-roadrunner::before {
		content: '\ea50';
	}
	.atelier__race-scorpion::before {
		content: '\ea51';
	}
	.atelier__race-shark::before {
		content: '\ea52';
	}
	.atelier__race-sheep::before {
		content: '\ea53';
	}
	.atelier__race-spirit::before {
		content: '\ea54';
	}
	.atelier__race-weasel-king::before {
		content: '\ea55';
	}
	.atelier__race-weasel::before {
		content: '\ea56';
	}
	.atelier__race-wyrm::before {
		content: '\ea57';
	}
	.atelier__shop::before {
		content: '\ea58';
	}
	.atelier__small-enemy::before {
		content: '\ea59';
	}
	.atelier__tool-axe::before {
		content: '\ea5a';
	}
	.atelier__tool-bomb-rod::before {
		content: '\ea5b';
	}
	.atelier__tool-bug-net::before {
		content: '\ea5c';
	}
	.atelier__tool-fishing-rod::before {
		content: '\ea5d';
	}
	.atelier__tool-gather::before {
		content: '\ea5e';
	}
	.atelier__tool-hammer::before {
		content: '\ea5f';
	}
	.atelier__tool-sickle::before {
		content: '\ea60';
	}
	.atelier__tool-staff::before {
		content: '\ea61';
	}
	.atelier__tool-water::before {
		content: '\ea62';
	}
	.atelier__type-accessory::before {
		content: '\ea63';
	}
	.atelier__type-armor::before {
		content: '\ea64';
	}
	.atelier__type-attack::before {
		content: '\ea65';
	}
	.atelier__type-buff::before {
		content: '\ea66';
	}
	.atelier__type-debuff::before {
		content: '\ea67';
	}
	.atelier__type-heal::before {
		content: '\ea68';
	}
	.atelier__type-synthesis::before {
		content: '\ea69';
	}
	.atelier__type-weapon::before {
		content: '\ea6a';
	}
	.atelier__wind::before {
		content: '\ea6b';
	}
}
