.swagger-ui {
	@apply grow;
}
.swagger-ui > div {
	@apply flex flex-col gap-4;
}
.swagger-ui pre {
	font-family: monospace, monospace;
}
.swagger-ui abbr[title] {
	@apply border-b-0 no-underline;
}
.swagger-ui code,
.swagger-ui kbd,
.swagger-ui samp {
	@apply text-base;
	font-family: monospace, monospace;
}
.swagger-ui dfn {
	@apply italic;
}
.swagger-ui mark {
	@apply bg-warning text-warning-content;
}
.swagger-ui small {
	@apply text-sm;
}
.swagger-ui sub,
.swagger-ui sup {
	@apply text-xs leading-[0] relative align-baseline;
}
.swagger-ui sub {
	@apply -bottom-1;
}
.swagger-ui sup {
	@apply -top-1;
}
.swagger-ui audio,
.swagger-ui video {
	@apply inline-block;
}
.swagger-ui audio:not([controls]) {
	@apply hidden h-0;
}
.swagger-ui img {
	@apply border-none;
}
.swagger-ui svg:not(:root) {
	@apply overflow-hidden;
}
.swagger-ui button,
.swagger-ui select {
	@apply normal-case;
}
.swagger-ui [type='reset'],
.swagger-ui [type='submit'],
.swagger-ui button,
.swagger-ui html [type='button'] {
	appearance: button;
}
.swagger-ui [type='button']::-moz-focus-inner,
.swagger-ui [type='reset']::-moz-focus-inner,
.swagger-ui [type='submit']::-moz-focus-inner,
.swagger-ui button::-moz-focus-inner {
	@apply border-none p-0;
}
.swagger-ui [type='button']:-moz-focusring,
.swagger-ui [type='reset']:-moz-focusring,
.swagger-ui [type='submit']:-moz-focusring,
.swagger-ui button:-moz-focusring {
	@apply outline-current outline-dotted;
}
.swagger-ui fieldset {
	@apply px-3 pt-1 pb-3;
}
.swagger-ui legend {
	@apply text-inherit table max-w-full p-0 whitespace-normal;
}
.swagger-ui progress {
	@apply inline-block align-baseline;
}
.swagger-ui textarea {
	@apply overflow-auto;
}
.swagger-ui [type='checkbox'],
.swagger-ui [type='radio'] {
	@apply p-0;
}
.swagger-ui [type='number']::-webkit-inner-spin-button,
.swagger-ui [type='number']::-webkit-outer-spin-button {
	@apply h-auto;
}
.swagger-ui [type='search'] {
	appearance: textfield;
	outline-offset: -2px;
}
.swagger-ui [type='search']::-webkit-search-cancel-button,
.swagger-ui [type='search']::-webkit-search-decoration {
	@apply appearance-none;
}
.swagger-ui ::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
.swagger-ui details,
.swagger-ui menu {
	@apply block;
}
.swagger-ui summary {
	@apply list-item;
}
.swagger-ui canvas {
	@apply inline-block;
}
.swagger-ui [hidden],
.swagger-ui template {
	@apply hidden;
}
.swagger-ui .debug * {
	@apply outline outline-warning;
}
.swagger-ui .debug-white * {
	@apply outline outline-white;
}
.swagger-ui .debug-black * {
	@apply outline outline-black;
}
.swagger-ui .debug-grid {
	background: transparent url('/assets/swagger/debug-grid.png') repeat 0 0;
}
.swagger-ui .debug-grid-16 {
	background: transparent url('/assets/swagger/debug-grid-16.png') repeat 0 0;
}
.swagger-ui .debug-grid-8-solid {
	background: #fff url('/assets/swagger/debug-grid-8-solid.png') repeat 0 0;
}
.swagger-ui .debug-grid-16-solid {
	background: #fff url('/assets/swagger/debug-grid-16-solid') repeat 0 0;
}
.swagger-ui img {
	@apply max-w-full;
}
.swagger-ui .pre {
	@apply overflow-x-auto overflow-y-hidden;
}
.swagger-ui .code,
.swagger-ui code {
	font-family: Consolas, monaco, monospace;
}
.swagger-ui .input-reset {
	@apply appearance-none;
}
.swagger-ui .button-reset::-moz-focus-inner,
.swagger-ui .input-reset::-moz-focus-inner {
	@apply border-0 border-none p-0;
}
.swagger-ui .nested-copy-indent p + p {
	@apply my-0 indent-0.5;
}
.swagger-ui .nested-copy-seperator p + p {
	@apply mt-6;
}
.swagger-ui .nested-img img {
	@apply max-w-full w-full;
}
.swagger-ui .nested-links a {
	@apply link link-hover link-info;
}
.swagger-ui .wrapper {
	@apply mx-auto container px-5 w-full;
}
.swagger-ui .wrapper:not(.information-container) > section > div {
	@apply flex flex-col gap-2;
}
.swagger-ui .opblock-tag-section {
	@apply flex flex-col gap-2;
}
.swagger-ui .try-out__btn {
	@apply btn-sm btn-outline;
}
.swagger-ui .opblock-tag {
	@apply items-center btn-neutral !border-b cursor-pointer flex capitalize rounded-t-md rounded-b-none no-animation btn text-lg;
}
.swagger-ui .opblock-tag.no-desc span {
	@apply flex-1;
}
.swagger-ui .opblock-tag small,
.swagger-ui .opblock-tag > div {
	@apply flex-1;
}
.swagger-ui .opblock-tag small {
	@apply sm:text-sm px-2.5;
}
.swagger-ui .opblock-tag > div {
	@apply sm:overflow-hidden sm:text-ellipsis sm:whitespace-nowrap;
}
.swagger-ui .opblock-tag .info__externaldocs {
	@apply text-right;
}
.swagger-ui .parameter__type {
	font-family: monospace;
	@apply text-xs font-semibold py-1.5;
}
.swagger-ui .parameter-controls {
	@apply mt-3;
}
.swagger-ui .examples__title {
	@apply text-base font-bold mb-3;
}
.swagger-ui .examples__section {
	@apply mt-6;
}
.swagger-ui .examples__section-header {
	font-size: 0.9rem;
	@apply font-bold mb-2;
}
.swagger-ui .examples-select {
	@apply inline-block mb-3;
}
.swagger-ui .examples-select .examples-select-element {
	@apply w-full;
}
.swagger-ui .examples-select__section-label {
	@apply font-bold mr-2;
	font-size: 0.9rem;
}
.swagger-ui .example__section {
	@apply mt-6;
}
.swagger-ui .example__section-header {
	@apply font-bold mb-2;
	font-size: 0.9rem;
}
.swagger-ui .view-line-link {
	@apply cursor-pointer mx-1.5 relative top-0.5 w-5;
}
.swagger-ui .operation-tag-content {
	@apply flex flex-col gap-4;
}
.swagger-ui .opblock {
	@apply border border-base-content shadow shadow-base-content/20 rounded;
}
.swagger-ui .opblock .tab-header {
	@apply flex flex-1 gap-5;
}
.swagger-ui .opblock .tab-header .tab-item {
	@apply px-2.5 cursor-pointer;
}
.swagger-ui .opblock .tab-header .tab-item.active h4 span {
	@apply relative;
}
.swagger-ui .opblock .tab-header .tab-item.active h4 span:after {
	@apply bg-base-300 -bottom-4 h-1 left-1/2 -translate-x-1/2 absolute content-[];
	width: 120%;
}
.swagger-ui .opblock.is-open .opblock-summary {
	@apply border border-base-content;
}
.swagger-ui .opblock .opblock-section-header {
	@apply bg-base-200 shadow shadow-base-content/20 items-center flex px-5 py-2 min-h-12;
}
.swagger-ui .opblock .opblock-section-header > label {
	@apply items-center flex text-xs font-bold ml-auto;
}
.swagger-ui .opblock .opblock-section-header > label > span {
	@apply pr-2.5;
}
.swagger-ui .opblock .opblock-section-header h4 {
	@apply flex-1 text-sm;
}
.swagger-ui .opblock .opblock-summary-method {
	@apply bg-base-content rounded text-base-100 text-sm font-bold py-1.5 text-center shadow shadow-base-content/10;
	min-width: 80px;
}
.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated {
	@apply items-center flex text-xs sm:text-base font-semibold break-words grow;
	font-family: monospace;
}
.swagger-ui .opblock .opblock-summary-path {
	@apply max-w-full sm:max-w-lg shrink sm:shrink-0;
}
.swagger-ui .opblock .opblock-summary-path__deprecated {
	@apply line-through;
}
.swagger-ui .opblock .opblock-summary-operation-id {
	@apply text-sm;
}
.swagger-ui .opblock .opblock-summary-description {
	@apply text-xs break-words overflow-hidden ml-auto pr-2;
}
.swagger-ui .opblock .opblock-summary {
	@apply p-2 flex cursor-pointer items-center gap-2;
}
.swagger-ui .opblock .opblock-summary .view-line-link {
	@apply cursor-pointer relative top-0.5;
}
.swagger-ui .opblock.opblock-post {
	@apply bg-base-200 border-primary;
}
.swagger-ui .opblock.opblock-post .opblock-summary-method {
	@apply bg-primary;
}
.swagger-ui .opblock.opblock-post .opblock-summary {
	@apply border-primary;
}
.swagger-ui .opblock.opblock-post .tab-header .tab-item.active h4 span:after {
	@apply bg-primary;
}
.swagger-ui .opblock.opblock-put {
	@apply bg-base-200 border-secondary;
}
.swagger-ui .opblock.opblock-put .opblock-summary-method {
	@apply bg-secondary;
}
.swagger-ui .opblock.opblock-put .opblock-summary {
	@apply border-secondary;
}
.swagger-ui .opblock.opblock-put .tab-header .tab-item.active h4 span:after {
	@apply bg-secondary;
}
.swagger-ui .opblock.opblock-delete {
	@apply bg-base-200 border-error;
}
.swagger-ui .opblock.opblock-delete .opblock-summary-method {
	@apply bg-error;
}
.swagger-ui .opblock.opblock-delete .opblock-summary {
	@apply border-error;
}
.swagger-ui .opblock.opblock-delete .tab-header .tab-item.active h4 span:after {
	@apply bg-error;
}
.swagger-ui .opblock.opblock-get {
	@apply bg-base-200 border-info;
}
.swagger-ui .opblock.opblock-get .opblock-summary-method {
	@apply bg-info;
}
.swagger-ui .opblock.opblock-get .opblock-summary {
	@apply border-info;
}
.swagger-ui .opblock.opblock-get .tab-header .tab-item.active h4 span:after {
	@apply bg-info;
}
.swagger-ui .opblock.opblock-patch {
	@apply bg-base-200 border-success;
}
.swagger-ui .opblock.opblock-patch .opblock-summary-method {
	@apply bg-success;
}
.swagger-ui .opblock.opblock-patch .opblock-summary {
	@apply border-success;
}
.swagger-ui .opblock.opblock-patch .tab-header .tab-item.active h4 span:after {
	@apply bg-success;
}
.swagger-ui .opblock.opblock-head {
	@apply bg-base-200 border-accent;
}
.swagger-ui .opblock.opblock-head .opblock-summary-method {
	@apply bg-accent;
}
.swagger-ui .opblock.opblock-head .opblock-summary {
	@apply border-accent;
}
.swagger-ui .opblock.opblock-head .tab-header .tab-item.active h4 span:after {
	@apply bg-accent;
}
.swagger-ui .opblock.opblock-options {
	@apply bg-base-200 border-neutral;
}
.swagger-ui .opblock.opblock-options .opblock-summary-method {
	@apply bg-neutral;
}
.swagger-ui .opblock.opblock-options .opblock-summary {
	@apply border-neutral;
}
.swagger-ui .opblock.opblock-options .tab-header .tab-item.active h4 span:after {
	@apply bg-neutral;
}
.swagger-ui .opblock.opblock-deprecated {
	@apply bg-base-200 border-gray-400 opacity-50;
}
.swagger-ui .opblock.opblock-deprecated .opblock-summary-method {
	@apply bg-gray-400;
}
.swagger-ui .opblock.opblock-deprecated .opblock-summary {
	@apply border-gray-400;
}
.swagger-ui .opblock.opblock-deprecated .tab-header .tab-item.active h4 span:after {
	@apply bg-gray-400;
}
.swagger-ui .opblock .opblock-schemes {
	padding: 8px 20px;
}
.swagger-ui .opblock .opblock-schemes .schemes-title {
	padding: 0 10px 0 0;
}
.swagger-ui .filter .operation-filter-input {
	@apply border-2 border-base-content;
	margin: 20px 0;
	padding: 10px;
	width: 100%;
}
.swagger-ui .download-url-wrapper .failed,
.swagger-ui .filter .failed {
	@apply text-error;
}
.swagger-ui .model-example {
	@apply flex flex-col gap-2 mt-2;
}
.swagger-ui .tab {
	@apply flex list-none list-image-none p-0;
}
.swagger-ui .tab li {
	@apply cursor-pointer text-sm p-0;
}
.swagger-ui .tab li:first-of-type {
	@apply pl-0 pr-3 relative;
}
.swagger-ui .tab li:first-of-type:after {
	@apply bg-base-100 h-full absolute right-1.5 top-0 content-[] w-0.5;
}
.swagger-ui .tab li.active {
	@apply font-bold;
}
.swagger-ui .tab li button.tablinks {
	@apply bg-none border-0 text-inherit p-0;
}
.swagger-ui .opblock-description-wrapper,
.swagger-ui .opblock-external-docs-wrapper,
.swagger-ui .opblock-title_normal {
	@apply text-sm px-4 pt-4;
}
.swagger-ui .opblock-description-wrapper h4,
.swagger-ui .opblock-external-docs-wrapper h4,
.swagger-ui .opblock-title_normal h4 {
	@apply text-base mb-1.5;
}
.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock-external-docs-wrapper p,
.swagger-ui .opblock-title_normal p {
	@apply text-base !m-0 font-semibold;
}
.swagger-ui .opblock-external-docs-wrapper h4 {
	@apply pl-0;
}
.swagger-ui .execute-wrapper {
	@apply p-5 text-right;
}
.swagger-ui .execute-wrapper button {
	@apply px-10 !border-base-content no-animation border-2 w-full;
}
.swagger-ui .body-param-options {
	@apply flex flex-col;
}
.swagger-ui .body-param-options .body-param-edit {
	@apply py-2.5 px-0;
}
.swagger-ui .body-param-options label {
	@apply py-2 px-0;
}
.swagger-ui .body-param-options label select {
	@apply mt-1;
}
.swagger-ui .responses-inner {
	@apply px-5 py-5 overflow-x-auto;
}
.swagger-ui .responses-inner h4,
.swagger-ui .responses-inner h5 {
	@apply text-sm mt-2.5 mb-1.5;
}
.swagger-ui .responses-inner .curl {
	@apply whitespace-normal;
}
.swagger-ui .response-col_status {
	@apply text-sm;
}
.swagger-ui .response-col_status .response-undocumented {
	@apply text-base-300 text-sm font-semibold;
	font-family: monospace;
}
.swagger-ui .response-col_links {
	@apply text-sm max-w-2xl;
}
.swagger-ui .response-col_links .response-undocumented {
	@apply text-base-300 text-sm font-semibold;
	font-family: monospace;
}
.swagger-ui .response-col_links .operation-link {
	@apply mb-6;
}
.swagger-ui .response-col_links .operation-link .description {
	@apply mb-2;
}
.swagger-ui .opblock-body .opblock-loading-animation {
	@apply mt-12 mx-auto animate-none;
}
.swagger-ui .opblock-body pre.microlight {
	@apply bg-base-content text-base-200 rounded text-sm font-semibold hyphens-auto p-2.5 whitespace-pre-wrap break-all break-words;
	font-family: monospace;
}
.swagger-ui .opblock-body pre.microlight span.headerline {
	@apply block;
}
.swagger-ui .highlight-code {
	@apply relative mockup-code;
}
.swagger-ui .highlight-code > .microlight {
	@apply max-h-96 min-h-16 overflow-y-auto;
}
.swagger-ui .highlight-code > .microlight code {
	@apply !whitespace-pre-wrap;
}
.swagger-ui .highlight-code > .microlight code {
	@apply break-all;
}
.swagger-ui .curl-command {
	@apply relative;
}
.swagger-ui .curl-command > div:nth-child(3) {
	@apply mockup-code;
}
.swagger-ui .scheme-container {
	@apply bg-base-100 shadow mb-5 py-8;
}
.swagger-ui .scheme-container .schemes {
	@apply items-end flex;
}
.swagger-ui .scheme-container .schemes > label {
	@apply flex flex-col text-sm font-bold -mt-5 mr-4;
}
.swagger-ui .scheme-container .schemes > label select {
	min-width: 130px;
	@apply uppercase;
}
.swagger-ui .loading-container {
	@apply items-center flex flex-col justify-center mt-4 pt-10 pb-16 !animate-spin;
	min-height: 1px;
}
.swagger-ui .response-controls {
	@apply flex pt-4;
}
.swagger-ui .response-control-media-type--accept-controller select {
	@apply border-success;
}
.swagger-ui .response-control-media-type__accept-message {
	@apply text-success text-xs;
	font-family: monospace;
}
.swagger-ui .response-control-media-type__accept-message code {
	@apply text-xs;
}
.swagger-ui .response-control-examples__title,
.swagger-ui .response-control-media-type__title {
	@apply block text-xs mb-1;
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}
.swagger-ui .no-margin {
	@apply border-0 border-none h-auto p-0;
}
.swagger-ui .svg-assets {
	@apply h-0 w-0 absolute;
}
.swagger-ui a.nostyle {
	@apply inline;
}
.swagger-ui a.nostyle,
.swagger-ui a.nostyle:visited {
	@apply text-inherit cursor-pointer;
	text-decoration: inherit;
}
.swagger-ui .fallback {
	@apply text-neutral p-4;
}
.swagger-ui .version-pragma {
	@apply h-full py-20;
}
.swagger-ui .version-pragma__message {
	@apply flex text-xl h-full justify-center px-2.5 text-center;
}
.swagger-ui .version-pragma__message > div {
	@apply flex-1;
	max-width: 55ch;
}
.swagger-ui .version-pragma__message code {
	@apply bg-base-100 px-1 pt-1 pb-0.5;
	white-space: pre;
}
.swagger-ui .opblock-link {
	@apply font-normal;
}
.swagger-ui .opblock-link.shown {
	@apply font-bold;
}
.swagger-ui span.token-string {
	@apply text-base-content;
}
.swagger-ui span.token-not-formatted {
	@apply text-base-content font-bold;
}
.swagger-ui button.cancel {
	@apply btn-accent;
}
.swagger-ui button.authorize {
	@apply btn-success;
}
.swagger-ui button.authorize span {
	@apply float-left pt-1 pr-5;
}
.swagger-ui button.authorize svg {
	@apply fill-success;
}
.swagger-ui button.execute {
	@apply btn-primary;
}
.swagger-ui .btn-group {
	width: calc(100% - 40px);
	@apply join m-5 border-2 border-base-content;
}
.swagger-ui .btn-group button {
	@apply join-item grow no-animation;
}
.swagger-ui .authorization__btn {
	@apply bg-none border-none pl-2.5;
}
.swagger-ui .authorization__btn .locked {
	@apply opacity-100;
}
.swagger-ui .authorization__btn .unlocked {
	@apply opacity-40;
}
.swagger-ui .model-box-control,
.swagger-ui .models-control,
.swagger-ui .opblock-summary-control {
	all: inherit;
	@apply border-b-0 cursor-pointer flex-1 p-0;
	outline: auto;
}
.swagger-ui .expand-methods svg,
.swagger-ui .expand-operation svg {
	@apply aspect-square h-4;
}
.swagger-ui .expand-methods svg path,
.swagger-ui .expand-operation svg path {
	@apply fill-current;
}
.swagger-ui button.invalid {
	@apply bg-error-content border-error;
}
.swagger-ui .copy-to-clipboard {
	@apply btn btn-square bottom-7 aspect-square flex btn-sm absolute right-4;
}
.swagger-ui .download-contents {
	@apply bottom-7 h-8 absolute right-20 btn-sm btn capitalize;
}
.swagger-ui .copy-to-clipboard button {
	background: url('/assets/swagger/copy-to-clipboard-black.svg') 50% no-repeat;
	@apply border-none border-0 h-4 aspect-square text-primary-content;
}
.dark .swagger-ui .copy-to-clipboard button {
	background: url('/assets/swagger/copy-to-clipboard-white.svg') 50% no-repeat;
}
.swagger-ui .copy-to-clipboard:active {
	@apply bg-primary-focus;
}
.swagger-ui .opblock-control-arrow {
	@apply px-1.5;
}
.swagger-ui .opblock-control-arrow svg {
	@apply h-4 aspect-square;
}
.swagger-ui .opblock-control-arrow svg path {
	@apply fill-base-content;
}
.swagger-ui .curl-command .copy-to-clipboard {
	@apply bottom-7 right-4 !bg-base-100 z-10;
}
.swagger-ui .curl-command .copy-to-clipboard,
.swagger-ui .highlight-code .copy-to-clipboard {
	@apply !bg-base-100;
}
.swagger-ui .opblock .opblock-summary .view-line-link.copy-to-clipboard {
	@apply static btn-primary;
}
.swagger-ui select {
	@apply select select-bordered text-sm font-bold select-sm;
}
.swagger-ui select[multiple] {
	@apply bg-base-100 my-1.5 p-1.5;
}
.swagger-ui select.invalid {
	@apply select-error;
}
.swagger-ui .opblock-body select {
	@apply max-w-full;
	min-width: 230px;
}
.swagger-ui label {
	@apply text-xs font-bold mb-1.5;
}
.swagger-ui input[type='email'],
.swagger-ui input[type='file'],
.swagger-ui input[type='password'],
.swagger-ui input[type='search'],
.swagger-ui input[type='text'] {
	@apply input input-bordered max-w-full input-sm;
}
.swagger-ui .dialog-ux {
	@apply inset-0 fixed z-50;
}
.swagger-ui .dialog-ux .backdrop-ux {
	@apply bg-base-content/80 inset-0 fixed;
}
.swagger-ui .dialog-ux .modal-ux {
	@apply bg-base-100 border-base-200 shadow border rounded inset-x-1/2 -translate-x-1/2 absolute w-full z-50;
	max-width: 650px;
	min-width: 300px;
}
.swagger-ui .dialog-ux .modal-ux-content {
	@apply max-h-96 overflow-y-auto p-5;
}
.swagger-ui .dialog-ux .modal-ux-content p {
	@apply text-base-content text-xs mb-1.5;
}
.swagger-ui .dialog-ux .modal-ux-content h4 {
	@apply text-lg font-semibold mt-4;
}
.swagger-ui .dialog-ux .modal-ux-header {
	@apply border border-neutral items-center flex py-3;
}
.swagger-ui .dialog-ux .modal-ux-header .close-modal {
	@apply appearance-none bg-none border-none border-0 px-2.5;
}
.swagger-ui .dialog-ux .modal-ux-header h3 {
	@apply flex-1 text-xl font-semibold px-5;
}
.swagger-ui .model {
	font-family: monospace;
	@apply text-xs font-semibold;
}
.swagger-ui .model .deprecated span,
.swagger-ui .model .deprecated td {
	@apply !text-neutral;
}
.swagger-ui .model .deprecated > td:first-of-type {
	@apply line-through;
}
.swagger-ui .model-toggle {
	@apply cursor-pointer inline-block text-xs my-auto mx-1.5 relative top-1.5;
	transform: rotate(90deg);
	transform-origin: 50% 50%;
	transition: transform 0.15s ease-in;
}
.swagger-ui .model-toggle.collapsed {
	transform: rotate(0deg);
}
.swagger-ui .model-toggle:after {
	background: url('/assets/swagger/model-toggle-black.svg') 50% no-repeat;
	@apply block w-5 aspect-square content-[];
}
.dark .swagger-ui .model-toggle:after {
	background: url('/assets/swagger/model-toggle-light.svg') 50% no-repeat;
}
.swagger-ui .model-jump-to-path {
	@apply cursor-pointer relative;
}
.swagger-ui .model-jump-to-path .view-line-link {
	@apply cursor-pointer absolute -top-2;
}
.swagger-ui .model-title {
	@apply relative;
}
.swagger-ui .model-title:hover .model-hint {
	@apply visible;
}
.swagger-ui .model-hint {
	@apply bg-base-content/70 text-base-100 rounded py-0.5 px-2 absolute -top-7 invisible whitespace-nowrap;
}
.swagger-ui .model p {
	@apply mb-4;
}
.swagger-ui .model .property {
	@apply text-base-300 italic;
}
.swagger-ui .model .property.primitive {
	@apply text-base-content;
}
.swagger-ui table {
	@apply table;
}
.swagger-ui .model .external-docs,
.swagger-ui table.model tr.description {
	@apply text-base-300 font-normal;
}
.swagger-ui table.model tr.description td:first-child,
.swagger-ui table.model tr.property-row.required td:first-child {
	@apply font-bold;
}
.swagger-ui table.model tr.property-row td {
	@apply align-top;
}
.swagger-ui table.model tr.property-row td:first-child {
	@apply pr-1;
}
.swagger-ui table.model tr.property-row .star {
	@apply text-error;
}
.swagger-ui table.model tr.extension {
	@apply text-base-300;
}
.swagger-ui table.model tr.extension td:last-child {
	@apply align-top;
}
.swagger-ui table.model tr.external-docs td:first-child {
	@apply font-bold;
}
.swagger-ui table.model tr .renderedMarkdown p:first-child {
	@apply mt-0;
}
.swagger-ui section.models {
	@apply border border-base-content/30 rounded my-8;
}
.swagger-ui section.models .pointer {
	@apply cursor-pointer;
}
.swagger-ui section.models.is-open {
	@apply pb-5;
}
.swagger-ui section.models.is-open h4 {
	@apply border-b border-base-content/30 mb-1;
}
.swagger-ui section.models h4 {
	@apply text-base-content items-center cursor-pointer flex text-base py-2.5 pr-5 pl-2.5 transition-opacity;
}
.swagger-ui section.models h4 span {
	@apply flex-1;
}
.swagger-ui section.models h4:hover {
	@apply opacity-90;
}
.swagger-ui section.models h5 {
	@apply text-base-300 text-base mb-2.5;
}
.swagger-ui section.models .model-jump-to-path {
	@apply relative top-1.5;
}
.swagger-ui section.models .model-container {
	@apply bg-base-content/70 transition-opacity rounded mx-5 mb-4 relative opacity-70;
}
.swagger-ui section.models .model-container:hover {
	@apply opacity-100;
}
.swagger-ui section.models .model-container:first-of-type {
	@apply m-5;
}
.swagger-ui section.models .model-container:last-of-type {
	@apply mx-5;
}
.swagger-ui section.models .model-container .models-jump-to-path {
	@apply opacity-70 absolute right-1.5 top-2;
}
.swagger-ui section.models .model-box {
	@apply bg-none;
}
.swagger-ui .model-box {
	@apply bg-base-content/10 rounded inline-block;
}
.swagger-ui .model-box .model-jump-to-path {
	@apply relative top-1;
}
.swagger-ui .model-box.deprecated {
	@apply opacity-50;
}
.swagger-ui .model-title {
	@apply text-base-300 text-base;
}
.swagger-ui .model-title img {
	@apply bottom-0 ml-4 relative;
}
.swagger-ui .model-deprecated-warning {
	@apply text-error text-base font-semibold mr-4;
}
.swagger-ui span > span.model .brace-close {
	@apply pl-2.5;
}
.swagger-ui .prop-name {
	@apply inline-block mr-4;
}
.swagger-ui .prop-type {
	@apply text-primary;
}
.swagger-ui .prop-enum {
	@apply block;
}
.swagger-ui .prop-format {
	@apply text-base-content;
}
.swagger-ui .servers > label {
	@apply text-xs -mt-5 mr-4;
}
.swagger-ui .servers > label select {
	@apply max-w-full w-full;
	min-width: 130px;
}
.swagger-ui .servers h4.message {
	@apply pb-8;
}
.swagger-ui .servers table tr {
	width: 30em;
}
.swagger-ui .servers table td {
	@apply inline-block pb-2.5 pt-2.5 align-middle;
	max-width: 15em;
}
.swagger-ui .servers table td:first-of-type {
	@apply pr-4;
}
.swagger-ui .servers table td input {
	@apply h-full w-full;
}
.swagger-ui .servers .computed-url {
	@apply my-8;
}
.swagger-ui .servers .computed-url code {
	@apply inline-block text-base mx-4 p-1;
}
.swagger-ui .servers-title {
	@apply text-xs font-bold;
}
.swagger-ui .operation-servers h4.message {
	@apply mb-8;
}
.swagger-ui table {
	@apply px-2.5 w-full border-collapse;
}
.swagger-ui table.model tbody tr td {
	@apply p-0 align-top;
}
.swagger-ui table.model tbody tr td:first-of-type {
	@apply mb-8 w-44;
}
.swagger-ui table.headers td {
	font-family: monospace;
	@apply text-xs font-semibold align-middle;
}
.swagger-ui table.headers .header-example {
	@apply text-base-300 italic;
}
.swagger-ui table tbody tr td {
	@apply pt-2.5 align-top;
}
.swagger-ui table tbody tr td:first-of-type {
	@apply pt-2.5;
	min-width: 6em;
}
.swagger-ui table thead tr td,
.swagger-ui table thead tr th {
	@apply border-b border-base-content/20 text-xs font-bold py-3 text-left;
}
.swagger-ui .parameters-col_description {
	@apply mb-8 w-full;
}
.swagger-ui .parameter__name {
	font-family: sans-serif;
	@apply text-base font-normal mr-3;
}
.swagger-ui .parameter__name.required {
	@apply font-bold;
}
.swagger-ui .parameter__name.required span {
	@apply text-error;
}
.swagger-ui .parameter__name.required:after {
	@apply text-error text-xs p-1.5 relative -top-1.5 content-[required];
}
.swagger-ui .parameter__extension,
.swagger-ui .parameter__in {
	@apply text-base-content/80 text-xs italic font-semibold;
	font-family: monospace;
}
.swagger-ui .parameter__deprecated {
	@apply text-error text-xs italic font-semibold;
	font-family: monospace;
}
.swagger-ui .parameter__empty_value_toggle {
	@apply block text-xs pb-3 py-1.5;
}
.swagger-ui .parameter__empty_value_toggle input {
	@apply mr-2 w-auto;
}
.swagger-ui .parameter__empty_value_toggle.disabled {
	@apply opacity-70;
}
.swagger-ui .table-container {
	@apply p-5;
}
.swagger-ui .response-col_description {
	@apply w-full;
}
.swagger-ui .response-col_links {
	min-width: 6em;
}
.swagger-ui .response__extension {
	@apply text-base-300 text-xs italic font-semibold;
	font-family: monospace;
}
.swagger-ui .topbar {
	@apply bg-base-content py-2.5;
}
.swagger-ui .topbar .topbar-wrapper,
.swagger-ui .topbar a {
	@apply items-center flex;
}
.swagger-ui .topbar a {
	@apply text-base-100 text-2xl font-bold max-w-xs no-underline flex-1;
}
.swagger-ui .topbar a span {
	@apply px-2.5;
}
.swagger-ui .topbar .download-url-wrapper {
	@apply flex justify-end;
	flex: 3;
}
.swagger-ui .topbar .download-url-wrapper .download-url-button {
	@apply bg-success text-success-content border-none border-0 rounded-r text-base font-bold px-8 py-1;
}
.swagger-ui .info {
	@apply pt-20 flex gap-2 flex-wrap select-none;
}
.swagger-ui .info > *:is(.main, .description, .info__contact) {
	@apply w-full;
}
.swagger-ui .info .info__contact {
	@apply flex gap-2 flex-wrap;
}
.swagger-ui .info.failed-config {
	@apply mx-auto max-w-4xl text-center;
}
.swagger-ui .info hgroup.main a {
	@apply text-xs;
}
.swagger-ui .info pre {
	@apply text-sm;
}
.swagger-ui .info li,
.swagger-ui .info p,
.swagger-ui .info table {
	@apply text-sm;
}
.swagger-ui .info a {
	@apply link link-hover link-primary;
}
.swagger-ui .info a:visited {
	@apply link-accent;
}
.swagger-ui .info .base-url {
	@apply text-xs font-semibold;
	font-family: monospace;
}
.swagger-ui .info .title {
	@apply text-4xl;
}
.swagger-ui .info .title small {
	@apply ml-3 bg-base-content rounded-3xl inline-block text-xs py-0.5 relative sm:-top-1.5 align-super font-bold;
}
.swagger-ui .info .title small.version-stamp {
	background-color: #89bf04;
}
.swagger-ui .info .title small pre {
	@apply text-base-100 px-2;
}
.swagger-ui .scopes h2 {
	@apply text-sm;
}
.swagger-ui .scopes h2 a {
	@apply text-info cursor-pointer text-xs pl-2.5 underline;
}
.swagger-ui .scope-def {
	@apply mb-5;
}
.swagger-ui .errors-wrapper {
	@apply bg-error/5 border-2 border-error rounded m-5 px-5 py-2.5;
}
.swagger-ui .errors-wrapper .error-wrapper {
	@apply mb-2.5;
}
.swagger-ui .errors-wrapper .errors h4 {
	@apply text-sm font-semibold;
}
.swagger-ui .errors-wrapper .errors small {
	@apply text-base-content;
}
.swagger-ui .errors-wrapper .errors .message {
	@apply whitespace-pre-line;
}
.swagger-ui .errors-wrapper .errors .message.thrown {
	@apply max-w-full;
}
.swagger-ui .errors-wrapper .errors .error-line {
	@apply cursor-pointer underline;
}
.swagger-ui .errors-wrapper hgroup {
	@apply items-center flex;
}
.swagger-ui .errors-wrapper hgroup h4 {
	@apply flex-1 text-xl;
}
.swagger-ui .Resizer.vertical.disabled {
	@apply hidden;
}
.swagger-ui .markdown p,
.swagger-ui .markdown pre,
.swagger-ui .renderedMarkdown p,
.swagger-ui .renderedMarkdown pre {
	@apply mx-auto break-words;
}
.swagger-ui .markdown pre,
.swagger-ui .renderedMarkdown pre {
	@apply bg-none text-base-content font-normal p-0 whitespace-pre-wrap;
}
.swagger-ui .markdown code,
.swagger-ui .renderedMarkdown code {
	@apply bg-base-200 text-primary bg-base-content/5 rounded text-sm font-semibold px-2 py-1;
	font-family: monospace;
}
.swagger-ui .markdown pre > code,
.swagger-ui .renderedMarkdown pre > code {
	@apply block;
}
.swagger-ui .json-schema-2020-12 {
	@apply bg-base-200 rounded mx-5 mb-4 py-3 pl-5;
}
.swagger-ui .json-schema-2020-12:first-of-type {
	@apply m-5;
}
.swagger-ui .json-schema-2020-12:last-of-type {
	@apply mx-5;
}
.swagger-ui .json-schema-2020-12--embedded {
	@apply bg-inherit py-0;
	padding-left: inherit;
	padding-right: inherit;
}
.swagger-ui .json-schema-2020-12-body {
	@apply border border-dashed border-base-content/50 my-0.5;
}
.swagger-ui .json-schema-2020-12-body--collapsed {
	@apply hidden;
}
.swagger-ui .json-schema-2020-12-accordion {
	@apply border-none outline-none pl-0;
}
.swagger-ui .json-schema-2020-12-accordion__children {
	@apply inline-block;
}
.swagger-ui .json-schema-2020-12-accordion__icon {
	@apply inline-block h-5 align-bottom w-5;
}
.swagger-ui .json-schema-2020-12-accordion__icon--expanded {
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	transition: transform 0.15s ease-in;
}
.swagger-ui .json-schema-2020-12-accordion__icon--collapsed {
	transform: rotate(0deg);
	transform-origin: 50% 50%;
	transition: transform 0.15s ease-in;
}
.swagger-ui .json-schema-2020-12-accordion__icon svg {
	@apply h-5 aspect-square fill-current;
}
.swagger-ui .json-schema-2020-12-expand-deep-button {
	@apply text-base-content border-none border-0 text-xs pr-0;
}
.swagger-ui .json-schema-2020-12-keyword {
	@apply my-1.5;
}
.swagger-ui .json-schema-2020-12-keyword__children {
	@apply border border-dashed border-base-100 ml-5 p-0;
}
.swagger-ui .json-schema-2020-12-keyword__children--collapsed {
	@apply hidden;
}
.swagger-ui .json-schema-2020-12-keyword__name {
	@apply text-xs font-bold ml-5;
}
.swagger-ui .json-schema-2020-12-keyword__name--secondary {
	@apply text-base-content italic;
}
.swagger-ui .json-schema-2020-12-keyword__value {
	@apply text-base-content italic text-xs;
}
.swagger-ui .json-schema-2020-12-keyword__value--secondary {
	@apply text-base-content italic;
}
.swagger-ui .json-schema-2020-12-keyword__value--const,
.swagger-ui .json-schema-2020-12-keyword__value--warning {
	@apply border border-dashed border-base-content text-base-content rounded inline-block font-semibold leading-5 ml-2.5 px-1 pt-0.5;
	font-family: monospace;
}
.swagger-ui .json-schema-2020-12-keyword__value--warning {
	@apply border border-dashed border-error text-error;
}
.swagger-ui .json-schema-2020-12-keyword__name--secondary + .json-schema-2020-12-keyword__value--secondary:before {
	content: '=';
}
.swagger-ui .json-schema-2020-12__attribute {
	font-family: monospace;
	@apply text-xs pl-2.5 lowercase;
}
.swagger-ui .json-schema-2020-12__attribute--primary {
	@apply text-primary;
}
.swagger-ui .json-schema-2020-12__attribute--muted {
	@apply text-neutral;
}
.swagger-ui .json-schema-2020-12__attribute--warning {
	@apply text-warning;
}
.swagger-ui .json-schema-2020-12-keyword--\$vocabulary ul {
	@apply border-l border-dashed border-base-100 ml-5;
}
.swagger-ui .json-schema-2020-12-\$vocabulary-uri {
	@apply ml-9;
}
.swagger-ui .json-schema-2020-12-\$vocabulary-uri--disabled {
	@apply line-through;
}
.swagger-ui .json-schema-2020-12-keyword--description {
	@apply text-base-content text-xs ml-5;
}
.swagger-ui .json-schema-2020-12-keyword--description p {
	@apply m-0;
}
.swagger-ui .json-schema-2020-12__title {
	@apply text-base-content inline-block text-xs font-bold;
}
.swagger-ui .json-schema-2020-12__title .json-schema-2020-12-keyword__name {
	@apply m-0;
}
.swagger-ui .json-schema-2020-12-property {
	@apply my-2;
}
.swagger-ui .json-schema-2020-12-property .json-schema-2020-12__title {
	@apply text-xs font-semibold align-middle;
	font-family: monospace;
}
.swagger-ui .json-schema-2020-12-keyword--properties > ul {
	@apply border-none p-0;
}
.swagger-ui .json-schema-2020-12-property {
	@apply list-none;
}
.swagger-ui
	.json-schema-2020-12-property--required
	> .json-schema-2020-12:first-of-type
	> .json-schema-2020-12-head
	.json-schema-2020-12__title:after {
	@apply text-error font-bold content-[*];
}
.swagger-ui .json-schema-2020-12-keyword--patternProperties ul {
	@apply border-none p-0;
}
.swagger-ui .json-schema-2020-12-keyword--patternProperties .json-schema-2020-12__title:first-of-type:after,
.swagger-ui .json-schema-2020-12-keyword--patternProperties .json-schema-2020-12__title:first-of-type:before {
	@apply text-primary content-[/];
}
.swagger-ui .json-schema-2020-12-keyword--enum > ul {
	@apply inline-block p-0;
}
.swagger-ui .json-schema-2020-12-keyword--enum > ul li {
	@apply inline list-none;
}
.swagger-ui .json-schema-2020-12__constraint {
	@apply bg-primary text-primary-content rounded font-semibold text-sm ml-2.5 px-1 py-0.5;
	font-family: monospace;
}
.swagger-ui .json-schema-2020-12__constraint--string {
	@apply bg-accent text-accent-content;
}
.swagger-ui .json-schema-2020-12-keyword--dependentRequired > ul {
	@apply inline-block p-0;
}
.swagger-ui .json-schema-2020-12-keyword--dependentRequired > ul li {
	@apply inline list-none;
}
.swagger-ui
	.model-box
	.json-schema-2020-12:not(.json-schema-2020-12--embedded)
	> .json-schema-2020-12-head
	.json-schema-2020-12__title:first-of-type {
	@apply text-base;
}
.swagger-ui .model-box .json-schema-2020-12 {
	@apply bg-transparent p-0;
}
.swagger-ui .model-box .json-schema-2020-12-accordion,
.swagger-ui .model-box .json-schema-2020-12-expand-deep-button {
	@apply bg-transparent;
}
.swagger-ui
	.models
	.json-schema-2020-12:not(.json-schema-2020-12--embedded)
	> .json-schema-2020-12-head
	.json-schema-2020-12__title:first-of-type {
	@apply text-base;
}
